<!DOCTYPE html>
<html lang="zh-CN">
  {% include 'common/head.html' %}

  <body>

    {% include 'common/navbar.html' %}

    <div class="container">
        {% if msg %}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Warning!</strong> {{msg}}
        </div>
        {% endif %}

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
          <p>创建任务</p>
          <form method="post" action="/task/edit.html" class="form-horizontal">
              <input name="id" value="{{task.id}}" type="hidden">
              <div class="form-group">
                  <label class="col-sm-2 control-label">标题</label>
                  <div class="col-sm-8">
                      <input type="text" class="form-control" name="title" value="{{task.title or ''}}" required>
                  </div>
              </div>

              <div class="form-group">
                  <label class="col-sm-2 control-label">项目</label>
                  <div class="col-sm-8">
                      <input type="text" class="form-control" name="title" value="{{task.project_name or ''}}" disabled>
                  </div>
              </div>

              <div class="form-group">
                  <label class="col-sm-2 control-label">分支</label>
                  <div class="col-sm-8">
                      <div class="input-group">
                          <input type="text" class="form-control" id="branchPre" value="{{task.project_branch}}" disabled>
                      </div>
                  </div>
              </div>

              <div class="form-group">
                  <label class="col-sm-2 control-label">开发</label>
                  <div class="col-sm-8">
                      <select class="selectpicker form-control" id="developers" data-size="10" multiple data-selected-text-format="count > 3" required>
                          {% for dev in task.developers %}
                           <option value="{{dev.username}}" {% if dev.username in task.s_developers %}selected{% endif %}>{{dev.username}}</option>
                          {% endfor %}
                      </select>
                  </div>
                  <input type="hidden" name="developers">
              </div>

              <div class="form-group">
                  <label class="col-sm-2 control-label">测试</label>
                  <div class="col-sm-8">
                      <select name="role" class="selectpicker form-control" id="testers" data-size="10" multiple data-selected-text-format="count > 3" required>
                          {% for tester in task.testers %}
                           <option value="{{tester.username}}" {% if tester.username in task.s_testers %}selected{% endif %}>{{tester.username}}</option>
                          {% endfor %}
                      </select>
                  </div>
                  <input type="hidden" name="testers">
              </div>

               <div class="form-group">
                  <label class="col-sm-2 control-label">需求描述</label>
                  <div class="col-sm-8">
                      <textarea name="discription" class="form-control" rows="5" required style="resize:none">{{task.discription or ''}}</textarea>
                  </div>
              </div>

              <div class="form-group">
                  <label class="col-sm-2 control-label">配置项</label>
                  <div class="col-sm-8">
                      <textarea name="properties" class="form-control" rows="5" style="resize:none" >{{task.properties or ''}}</textarea>
                  </div>
              </div>

               <div class="form-group">
                  <label class="col-sm-2 control-label">sql脚本</label>
                  <div class="col-sm-8">
                      <textarea name="sql_script" class="form-control" rows="5" style="resize:none">{{task.sql_script or ''}}</textarea>
                  </div>
              </div>

               <div class="form-group">
                   <div class="col-sm-offset-2 col-sm-8">
                        <button type="button" onclick="_submit()" class="btn btn-primary">提交</button>
                       <input style="display: none;" type="submit" id="sub" value="submit" />
                   </div>
               </div>
          </form>
      </div>

    </div>

    {% include 'common/script.html' %}
  
    <script>
        $(function () {
            $("select[name='role']").selectpicker();
        })
        
        function _submit() {
            $("input[name='developers']").val($("#developers").val());
            $("input[name='testers']").val($("#testers").val());
            $("#sub").click();
        }
    </script>
  </body>
</html>
